
body, h1, p {
  margin: 0px;
  padding: 0px;
}

body {
  display: grid;
  align-content: center;
  background: hsl(27, 66%, 92%);
  height: 100vh;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
}

.container {
  max-width: 450px;
  max-height: 800px;
  width: 90%;
  margin: 0 auto;
  animation: slowShow 0.5s forwards;
}

@keyframes slowShow {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.balance h1,
.balance span {
  color: hsl(33, 100%, 98%);
}

.balance {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: hsl(10, 79%, 65%);
  border-radius: 10px;
}

.balance span {
  font-size: 0.875em;
  margin-bottom: 5px;
}

.logo img {
  margin-top: 10px;
  width: 60px;
}

.logo {
  animation: rotation 1.5s forwards;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spending {
  background: hsl(33, 100%, 98%);
  border-radius: 10px;
  margin-top: 15px;
  padding: 20px;
}

.spending .last_days {
  margin-left: 10px;
  margin-bottom: 40px;
  color: hsl(25, 47%, 15%);
}

.spending span {
  font-size: 0.775em;
  color: hsl(28, 10%, 53%);
}

.days_chart_container {
  height: 10rem;
  margin-bottom: 50px;
}

.days {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 100%;
  gap: 5px;
}

.day_container {
  text-align: center;
}

.bar_stat {
  display: block;
  background-color: hsl(10, 79%, 65%);
  border-radius: 4px;
  width: 2.6rem;
  position: relative;
  cursor: pointer;
  animation: barUpDown 1s forwards ;
}

@keyframes barUpDown {
  from {
    transform: translate3d(0, -20px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.bar_stat:hover {
  opacity: 0.9;
}

.bar_stat:hover:before {
  content: attr(data-stat);
  width: 3em;
  font-size: 0.75em;
  font-weight: bold;
  color: hsl(27, 66%, 92%);
  position: absolute;
  background-color: hsl(25deg, 47%, 15%);
  border-radius: 4px;
  padding: 5px 8px;
  left: -0.6rem;
  top: -2rem;
  display: block;
}

.bar_stats_container {
  display: flex;
  flex-direction: column-reverse;
}

.total {
  display: flex;
  justify-content: space-between;
}

.total p {
  font-size: 1em;
  color: hsl(28, 10%, 53%);
}

.total h1 {
  font-size: 2em;
  color: hsl(25, 47%, 15%);
  margin-top: 5px;
}

.last_month {
  align-self: end;
  text-align: end;
}

.last_month span {
  font-size: 1em;
  color: hsl(25, 47%, 15%);
  font-weight: bold;
}

@media (min-width: 1000px) {
  .bar_stat {
    width: 3rem;
  }
}